@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


/*======================== Main =========================*/
*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}



.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 60px;
}
  
.main .content{
  text-align: center;
}
  
.main .content h3{
  font-size: 70px;
  color:#fff;
}
  
.main .content p{
  font-size: 30px;
  color:#fff;
}
 
.main .video-container video{
  position: absolute;
  top:70px; 
  left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}




/* ===================== Restaurants ====================*/

.categories {
  margin: 50px;
}

.small-container {
  max-width: 1080px;

}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-3 {
  flex-basis: 30%;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
  margin-bottom: 20px;
}

.checked {
  color: orange;
}


/*======================= Chefs =====================*/
.col-4 img {
  width: 100%;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
} 

@media only screen and (max-width: 600px) {
  .row {
      text-align: center;

  }

  .col-2, .col-3, .col-4 {
      flex-basis: 100%;
  }
}