.body_intro{
    color: black;
    margin: 0 auto;
    width: 1100px;
    background-color: rgb(255, 255, 255);
    font-size: medium;
}
.one{
    border-top: 1px solid rgba(196, 196, 196, 0.8);
    border-bottom: 1px solid rgba(196, 196, 196, 0.8);
    margin-top: 10px;
}
.one_div{
    height: 35px;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#one_id{
    padding-top: 5px;
    height: 35px;
    text-decoration: none;
    color: black;
}
#one_id:hover{
    border-bottom: 2px solid black;
    color: black;
}

.two{
    width: 1100px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.two_element p{
    font-size: 12px;
}

.three{
    padding-top: 80px;
    background-color: #faf1ed;
    height: 500px;
    text-align: center;
}
.three h1{
    font-size: 64px;
    font-weight: 800;
}
.three h2{
    font-size: 48px;
    font-weight: 400;
}
#three_img{
    width: 1350px;
    height: 550px;
    margin-top: 40px;
}
.three_continue{
    padding-top: 330px;
    margin: 0 auto;
    width: 1350px;
    height: 410px;
    border-bottom: 1px solid rgba(151, 151, 151,0.5);
}
.three_menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.three_menu_elements{
    font-size: 16px;
    font-weight: 600;
    margin: 0px 10px 0px 10px;
    margin-bottom: 200px;
    text-align: center;
    width: 82px;
    height: 40px;
    
}
.three_menu_elements:hover{
    transition: .1s;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.body_intro_second{
    width: 760px;
    margin: 0 auto;
    margin-top: 80px;
}

.four{
    display: flex;
    flex-direction: column;
}
.four_head{
    width: 760px;
    font-size: 32px;
    font-weight: 630;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.four_feedback{
    display: flex;
    flex-direction: column;
}
.four_feedback_box{
    margin-top: 20px;
}
.four_feedback_box h5{
    font-size: 20px;
    font-weight: 650;
}
.four_feedback_box_in{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#four_boder{
    border-bottom: 1px solid rgba(151, 151, 151,0.5);
}
#four_prifile{
    width: 65px;
    height: 65px;
}
.four_feedback_text h6{
    font-size: 18px;
    font-weight: 620;
}
.four_feedback_text p{
    font-size: 17px;
    font-weight: 495;
}
.four_feedback_box_2{
    margin-top: 40px;
}
.four_feedback_box_2 h5{
    font-size: 20px;
    font-weight: 650;
}

.five{
    margin: 0 auto;
    margin-top: 60px;
    width: 1380px;
    height: 570px;
    background-color: #fcc;
    text-align: center;
}
.five img{
    padding-top: 80px;
    width: 1070px;
    height: 615px;
}
.five_continue{
    margin: 0 auto;
    padding-top: 50px;
    width: 1070px;
}

.six{
    color: black;
    display: flex;
    flex-direction: column;
    width: 760px;
    margin: 0 auto;
    margin-top: 80px;
}
.six_head{
    width: 760px;
    font-size: 32px;
    font-weight: 640;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.six_feedback{
    display: flex;
    flex-direction: column;
}
.six_feedback_box{
    margin-top: 20px;
}
.six_feedback_box h5{
    font-size: 22px;
    font-weight: 650;
}
.six_feedback_box_in{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.six_feedback_box_in h6{
    font-size: 19px;
    font-weight: 640;
}
.six_feedback_box_in p{
    font-size: 18px;
    font-weight: 490;
}
.six_feedback_box_2{
    margin-top: 20px;
}
.six_feedback_box_2 h5{
    font-size: 22px;
    font-weight: 650;
}
.six_feedback_box_2 p{
    font-size: 18px;
    font-weight: 490;
}

.seven{
    margin: 0 auto;
    margin-top: 60px;
    width: 1370px;
    height: 570px;
    background-color: #00aa6c;
    text-align: center;
}
.seven img{
    padding-top: 80px;
    width: 1070px;
    height: 615px;
}
.seven_continue{
    margin: 0 auto;
    padding-top: 50px;
    width: 1070px;
}

.eight{
    color: black;
    display: flex;
    flex-direction: column;
    width: 760px;
    margin: 0 auto;
    margin-top: 80px;
}
.eight_head{
    width: 760px;
    font-size: 32px;
    font-weight: 640;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.eight_feedback a{
    color: black;
}
.eight_feedback a:hover{
    color: black;
}
.eight_feedback p{
    font-size: 18px;
    font-weight: 490;
}
.eight_feedback_box_2 h4{
    font-size: 22px;
    font-weight: 630;
}
.eight_feedback_box strong{
    font-weight: 620;
}
.eight_feedback_box_2 strong{
    font-weight: 620;
}

@media (max-width: 1280px){
    
}